SITE_URL=""
DATOCMS_ENVIRONMENT=""
DATOCMS_API_TOKEN=""
DATOCMS_DRAFT_API_TOKEN=""
DATOCMS_MANAGEMENT_API_TOKEN=""
VERCEL_TOKEN=""
SIGNED_COOKIE_JWT_SECRET=""
SECRET_API_TOKEN=""
DRAFT_MODE_COOKIE_NAME=""
OPENSEARCH_HOST=""
OPENSEARCH_USERNAME=""
OPENSEARCH_PASSWORD=""
OPENSEARCH_INDEX_NAME=""
