SITE_URL=""
DATOCMS_ENVIRONMENT=""
DATOCMS_API_TOKEN=""
DATOCMS_DRAFT_API_TOKEN=""
DATOCMS_MANAGEMENT_API_TOKEN=""
SIGNED_COOKIE_JWT_SECRET=""
SECRET_API_TOKEN=""
DRAFT_MODE_COOKIE_NAME=""
OPENSEARCH_HOST=""
OPENSEARCH_USERNAME=""
OPENSEARCH_PASSWORD=""
OPENSEARCH_INDEX_NAME=""
PUBLIC_WAI_URL=""
PUBLIC_WAI_SITE_ID=""
PUBLIC_SENDPORTAL_SUBSCRIBE_URL=""
PUBLIC_FEEDBACK_URL=""
DATOCMS_VISUAL_SELECT_PLUGIN_ID=""