@use "bootstrap-italia/src/scss/bootstrap-italia" as *;

.nav-tabs {
  .nav-item {
    min-width: 283px;
  }

  .nav-link:hover {
    text-decoration: underline !important;
  }
}

.nav-tabs.bg-primary {
  .nav-link {
    color: $white !important;
  }

  .nav-link.active {
    border-bottom-color: $white;
    color: $white !important;
    background-color: $primary !important;
  }

  .nav-link.disabled {
    color: $gray-400 !important;
  }
}
