@use "bootstrap-italia/src/scss/bootstrap-italia" as *;

.chip {
  &.chip-outline-white,
  &.chip-simple {
    text-decoration: none;
  }

  &.chip-outline-white {
    background-color: transparent;
    border-color: $white;

    .chip-label {
      color: $white;
    }

    &:hover {
      border: 1px solid $white;
      background-color: $primary-a10;
    }

    &:active {
      background-color: $white;

      .chip-label {
        color: $primary-a10;
      }
    }

    &.chip-disabled {
      border: 1px solid $gray-border;
      background-color: $gray-100;

      .chip-label {
        color: $color-text-secondary;
      }
    }
  }

  &.chip-primary {
    background-color: $white;

    &.active {
      background-color: $primary;

      .chip-label {
        color: $white;
      }
    }
  }
}
