@use "bootstrap-italia/src/scss/bootstrap-italia" as *;

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.btn-outline-white:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.btn-outline-white:active {
  background-color: hsla(0, 0%, 100%, 0.25);
}

.py-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
