@use "bootstrap-italia/src/scss/bootstrap-italia" as *;

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .py-lg-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
}

.it-hero-wrapper {
  align-items: center !important;

  .it-hero-text-wrapper p {
    font-family: "Titillium Web", Geneva, Tahoma, sans-serif !important;
  }
}

.structured-text-container.font-serif-p .container > p,
.structured-text-container.font-serif-p .container > ul > li > p,
.structured-text-container.font-serif-p .container .it-list li .item-text p {
  font-family: "Lora", Georgia, serif !important;
}

.structured-text-container .container > * + :is(h2, h3, h4, h5, h6) {
  margin-top: 3rem !important;
  margin-bottom: 1rem !important;
}

.structured-text-container .container > * + :is(h1) {
  margin-bottom: 1rem !important;
}

.structured-text-container .container > section {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.dynamic-icon {
  display: inline-block;
  background-image: var(--icon-url);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 991.98px) {
  .menu-column {
    z-index: 1055 !important;

    .navbar {
      border-top: 1px solid $gray-border;
    }
  }
}

.it-hero-bg-default {
  @extend .bg-white;
}

.it-hero-bg-primary {
  @extend .bg-primary;
}

.it-hero-bg-dark {
  @extend .primary-bg-a8;
}

.it-hero-bg-light {
  @extend .lightgrey-bg-a3;
}

.it-section-bg-default {
  @extend .bg-white;
}

.it-section-bg-primary {
  @extend .bg-primary;
}

.it-section-bg-dark {
  @extend .primary-bg-a10;
}

.it-section-bg-light {
  @extend .lightgrey-bg-a3;
}

.it-label {
  @extend .fw-semibold;
  @extend .fs-6;
  @extend .text-uppercase;
}
