@import "@styles/palette";

.icon-container {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: $accent-color;
}

.icon-container.icon-text {
  color: $primary-darker;
  font-family: "Titillium Web";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
